
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@700&display=swap');

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
   align-items: center;
    
    
}
img{
    height: 500px;
    width: 400px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
.mainright{
    background-color: hsl(0, 0%, 100%);
    height: 500px;
    width: 400px;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
.mainleft{
    height: 500px;
    width: 400px;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
}
.text{
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    font-family: 'Fraunces', serif;
    color:   hsl(212, 21%, 14%);}
h5,p{
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    }
.mainnumber{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainnumber h1{
    color: hsl(158, 36%, 37%);
}
.button{
    background-color:hsl(158, 36%, 37%);
    border-radius: 10%; 
}

.button p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.mainbutton{
    height: 50px;
    margin: 20px;
    border-radius: 10%; 
}

@media only screen and (max-width: 375px) {
    body {
        
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;  
        }
    .main{
       display: flex;
       flex-direction: column;
       width: 350px;
       margin: 10px 10px 10px 10px;

    }
    img{
        width: 350px;
        height:300px;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    .mainleft{
        width: 350px;
        height: 300px;
    }
    .mainright{
        width: 350px;
       
    }
    }
   